.header{ 
    display: flex;
    padding: 30px;
    justify-content: space-between;
    border-bottom: solid #7571a2;
    flex-wrap: nowrap;
}

.ToDo{  
    min-width: 160px;   
}

.ToDo h1{
    position: relative;
    background-image: linear-gradient(to right, #0060C1, #4faecd);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    
}
.profile{
    margin: 10px 10px 0px 0px;
    display: flex;
    flex-direction: column;
    width: 160px;
    align-items: flex-end;
    text-align: end;
}
.profileImg{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#F5F7F9;
    width:25px;
    height:25px;
    border-radius: 100%;
   
}
/* .profileImg img{
    position: relative;
    bottom:1px;
    width:inherit;
    height:inherit;
} */
.greeting{
    display: flex;
   align-items: end;
}

.greeting h2{
    margin-right: 10px; 
    transform: rotate(180deg)
}


